* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  background: #5b9cc5;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  background-color: #dbd3c8;
  width: 500px;
  height: 700px;
}

.container-form {
  margin: 30px 20px;
  height: 80%;
}

h2 {
  width: 100%;
  width: 500px;
  height: 40px;
  background-color: #0557db;
  text-align: center;
  padding-top: 5px;
}

input {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  padding-left: 5px;
  color: #000000;
  font-size: 18px;
}

label {
  font-size: 20px;
  margin-left: 5px;
}

p {
  font-size: 20px;
}

.list input {
  margin-left: 30px;
  border-radius: 50px;
  font-size: 10px;
  height: 15px;
  width: 15px;
}

#submit {
  background-color: #0557db;
  margin: 60px auto;
  height: 40px;
  width: 200px;
  display: block;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #000000;
  font-weight: bold;
}

input:hover {
  background-color: #98c5e9;
  opacity: 0.5;
}

 input #date {
  font-size: 30px;
}

.age {
  width: 60px;
  display: block;
}

